
/* -----------------
    first part Start
---------------------*/

.container{
    background-color: black;
    border: 1px solid black;
    display: flex;
    margin-right: 140px;
    margin-left: 140px;
    border-radius: 20px;

}

.container{
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

.information{

    margin-left: 50px;
    margin-right: 80px;
}

.main-header h1{
    font-size: 50px;
    color: #FFFFFF;
    font-family: 'Arima', cursive;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.sub-header p{
    color: #FFFFFF;
    font-size: 10px;
    font-family: 'Arima', cursive;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}



.player-picture{

    padding-left: 20px;
}


.watch-button a{
    
    background: red;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px;
    color: #FFFFFF;
}

/* -----------------
    First Part End
---------------------*/



/* -----------------
    Second Part Start
---------------------*/




.menu-part a{

    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    
}

.menu-part a:hover{

    background-color: chocolate;
    font-size: 120%;
}

.menus{

    border: 2px solid black;
    height: 180px;
    width: 180px;
    padding-top: 40px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: black;
    
}

.menu1{
    background-color: #FFFFFF;
   
    
}
#menu2{

    background-color: red;
    
}



.blog-img {
    width: 312px;
    height: 175px;
    left: 476px;
    top: 826px;

}

.title{

    border: 2px solid black;
    margin-right: 1180px;
    padding: 3px;
    margin-top: 5px;
    border-radius: 8px;

}

.title a{
    text-decoration: none;
}

.second-container{

    display: flex;
    margin-top: 20px;
    margin-right: 180px;
    margin-left: 140px;
    border-radius: 20px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5px;
    
    
}
.blog{

    border: 1px solid rgb(185, 182, 182);
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 240px;
    
}

.blog img{

    width: 240px ;
    margin-bottom: 10px;
}
.blog a{

    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 5px;
}

.blog p{

    padding-left: 5px;
}
.blog i{
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.blog i , span{

    font-size: 15px;
}


/* -----------------
    Second Part End
---------------------*/




/* -----------------
    Third Part Start
---------------------*/



.footer{
    background-color: black;
    color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer h1{
    text-align: center;
    border-bottom: 2px solid gray;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.footer-last{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-around;
}

/* -----------------
    Third Part End
---------------------*/


.flags{
    display: flex;
}
.flag img{

    height: 60px;
    width: 80px;
    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 10px;
}

.flag-part{
    border: 1px solid rgb(185, 182, 182);
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 10px;
}
.flag-part p{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.flag-part small{
    padding-left: 45px;
    
}

.flags-here{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5px;

}


